/*
 * Animated Mask Icons
 * Author: simurai
 *
 */


/* -------------- THE Icon -------------- */

/* These are the base styles for all icons. */

i {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    
    -webkit-filter: drop-shadow( hsla(0,0%,100%,.5) 0  1px  1px )
                    drop-shadow( hsla(0,0%,100%,.5) 0 -6px  6px ) 
                    drop-shadow( hsla(0,0%,  0%,.3) 0 10px 10px );
        
    -webkit-mask-repeat: no-repeat;    
    }

i:active {
    -webkit-transform: translateY(1px);
    -webkit-filter: drop-shadow( hsla(0,0%,100%,.5) 0  1px  1px )
                    drop-shadow( hsla(0,0%,100%,.5) 0 -3px  6px ) 
                    drop-shadow( hsla(0,0%,  0%,.3) 0  5px 10px );
    }

    