
/* Global ------------------------------------------------------ */

html {
    height: 100%;
	font:62.5%/1 "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	background: #f0f0f0 url(../img/bg.png);
    }

body {
	margin: 0;
	width: 100%;
	height: 100%;
    text-align: center;
    
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
	
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
	
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	        
	-webkit-box-orient: vertical;
	   -moz-box-orient: vertical;
	    -ms-box-orient: vertical;
	     -o-box-orient: vertical;
	        box-orient: vertical;
	}



nav {
    border-radius: 50px;
    padding: 0 20px;
    margin: 0 40px;
    background-color: hsla(0,0%,0%,.01);
	box-shadow: inset 0 0 10px hsla(0,0%,0%,.05), 0 1px 1px hsla(0,0%,100%,.3);
    }



p {
    color: #aaa;
    margin-top: 30px;
    font-size: 1.1rem;
    }

strong {
    color: #777;
    }





