<!-- Footer --------------------------------------- -->
    <div id="footer">
        <link rel="stylesheet" href="../-includes/footer.css">
        
        <h1>{{ page.title }}</h1>
        <nav class="links">
            <a href="{{ page.info }}">Info</a>
            <a href="{{ page.source }}">Source</a>
        </nav>
        
        <div class="social">
            
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="simurai" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            
            <g:plusone size="medium" annotation="none"></g:plusone>            
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
            
        </div>
        
        <nav class="stamp">
            <div class="ink"></div>
        </nav>
        
    </div>


    
{% if page.caniuse %}
<!-- CanIuse --------------------------------------- -->
    <div id="alt">
        <link rel="stylesheet" href="../-includes/caniuse.css">
        <img src="screenshot.jpg" alt="Screenshot" />
        <div id="caniuse"></div>
    </div>

<script>function stripScripts(a){var b=document.createElement("div");b.innerHTML=a;var c=b.getElementsByTagName("script");while(c.length){var d=c[0];d.parentNode.removeChild(d)}return b.innerHTML}
window.h5pCaniuse=function(a){if(!a.supported){
var x=document.getElementById("caniuse"); x.innerHTML=stripScripts(a.html);
var y=document.querySelector(".caniuse-msg"); y.innerHTML="Sorry, this page uses features <strong>({{ page.caniuse }})</strong> that are unavailable in your browser. Please try:";
document.body.classList.add("showAlt");
}}</script>
<script src="http://api.html5please.com/{{ page.caniuse }}.json?callback=h5pCaniuse&supported&icon&html"></script>	
{% endif %}


	
<!-- Google --------------------------------------- -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-599923-1']);
  _gaq.push(['_setDomainName', 'simurai.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script><!--/ Google -->