/* CarveMe by @simurai  */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:bold);

/* Global ------------------------------------------------------ */

html {
	height: 100%;
    background: url(http://files.simurai.com/tumblr/img/bg_glow.png) no-repeat fixed center top, 
                url("http://files.simurai.com/tumblr/img/bg.gif") repeat fixed 0 0;
    font: 62.5%/1 "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;    
	}

body {
	margin: 0;
	width: 100%;
	height: 100%;
    text-align: center;
    
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
	
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
	
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	        
    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
        -ms-box-orient: vertical;
         -o-box-orient: vertical;
            box-orient: vertical;
	}
	
.txt[contenteditable] {
	outline: none;
	}



/* text ------------------------------------------------------ */


#text {
	font: bold 12em 'Droid Sans', sans-serif;
	color: transparent;
	-webkit-text-stroke: 1px rgba(0,0,0,0.2); /* Text stroke */
    }
    
    #text:hover {
    	-webkit-text-stroke: 0;
    	color: transparent;
    	background-color: rgba(82,96,117,0.5);
    	-webkit-background-clip: text;
    	text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    	-webkit-transition: text-shadow .1s ease-out, background-color .2s ease-out;
        }
        
    #text:focus {
    	outline: none;
        }




/* CanIUse ------------------------------------------------------ */

#caniuse {
    margin: 0 auto;
    padding: 50px;
    max-width: 450px;
}

#caniuse .caniuse {
    font-size: 12px;
}